---
layout: default
---

<div class="home">

  <p>

   Hi there. I founded <a href="https://gethopscotch.com">Hopscotch</a>. I love to <a href="https://github.com/samjohn" target="_blank">program</a>. I occasionally <a href="https://twitter.com/samj0hn" target="_blank">tweet</a>. I will answer my <a href="mailto:samantha@samanthajohn.com" target='_blank'>email</a>  after a delay. 

   I occasionally write things and sometimes I post them here.

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <div class='writing'>
    <h1> Writing </h1>
    <ul class="writing">
      {% for post in site.posts %}
        {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
        {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

        <li{% if lang != empty %} lang="{{ lang }}"{% endif %}>
          <h2>

              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
          </h2>
              <p> {{post.summary}} </p>

        </li>
      {% endfor %}
    </ul>

    {% include pagination.html %}
  </div>
</div>
